// percentage conversion
@function percentage-gutter-conversion($percent-gutter, $columns) {

  // find the resolution of the grids
  $resolution: 0;
  @if length($columns) == 1 {
    $resolution: $columns;
  }
  @else {
    @each $column in $columns {
      $resolution: $resolution + $column;
    }
  }

  // divide the percentage gutter by 100% to get the offset
  // then multiply be resolution for the full conversion
  @debug $resolution;
  $new-gutter: ($percent-gutter / 100%) * $resolution;

  @return $new-gutter;
}


// Gutters to be removed from columns
@function gutter-offset($gutter, $columns) {

  // if the gutter is a percent, convert it to a ratio
  @if unit($gutter) == percentage {
    $gutter: percentage-gutter-conversion($gutter, $columns);
  }

  $gutter-sum: $gutter * (column-count($columns) - 1);
  @return $gutter-sum / column-count($columns);
}

@function gutter-span($gutter, $columns) {
  
  // if the gutter is a percent, convert it to a ratio
  @if unit($gutter) == percentage {
    $gutter: percentage-gutter-conversion($gutter, $columns);
  }

  $columns-and-gutters: column-sum($columns, $gutter);
  
  @return $gutter / $columns-and-gutters * 100%;
}