//@import "memo";
@import "breakpoint";
@import "singularitygs";

@include add-grid(5);
@include add-grid(7 at 700px);
@include add-grid(9 at 900px);

$layout-grid: 8;
$override: 6;

@mixin find-object() {
  $grids: sgs-get('grids');
  /* Simple Find */
  _test: "find-object(#{inspect($grids)})";
  _result: find-object($grids);
  /* Simple Find with Override */
  _test: "find-object(#{inspect($grids)}, #{$override})";
  _result: find-object($grids, $override);
}

@mixin find-object-test() {
  $grids: sgs-get('grids');
  /* Global Grid Setup */
  _grids: "#{inspect($grids)}";
  @include find-object;
  /**
    * Layout Test
  **/
  _layout: "#{$layout-grid}";
  @include layout($layout-grid) {
    @include find-object;
  }
}

/**
  * Find Object Function
  * - Finds the appropriate item given the current media query. May include an override. Testing with Grids
**/
.find-object__symmetric {
  @include find-object-test;

  @include breakpoint(699px) {
    @include find-object-test;
  }

  @include breakpoint(700px) {
    @include find-object-test;
  }

  @include breakpoint(899px) {
    @include find-object-test;
  }

  @include breakpoint(900px) {
    @include find-object-test;
  }
}

@include reset-singularity-setting('grids');
@include reset-singularity-setting('gutters');
@include reset-singularity-setting('gutter styles');

@include add-grid(1 3 5);
@include add-grid(3 5 7 at 700px);
@include add-grid(5 7 9 at 900px);

$layout-grid: 3 2 1;
$override: 2 4 6;

.find-object__asymmetric {
  @include find-object-test;

  @include breakpoint(699px) {
    @include find-object-test;
  }

  @include breakpoint(700px) {
    @include find-object-test;
  }

  @include breakpoint(899px) {
    @include find-object-test;
  }

  @include breakpoint(900px) {
    @include find-object-test;
  }
}

@include reset-singularity-setting('grids');
@include reset-singularity-setting('gutters');
@include reset-singularity-setting('gutter styles');

@include add-grid(1 3 5);
@include add-grid(7 at 700px);
@include add-grid(5 7 9 at 900px);

$layout-grid: 8;
$override: 2 4 6;

.find-object__asymmetric {
  @include find-object-test;

  @include breakpoint(699px) {
    @include find-object-test;
  }

  @include breakpoint(700px) {
    @include find-object-test;
  }

  @include breakpoint(899px) {
    @include find-object-test;
  }

  @include breakpoint(900px) {
    @include find-object-test;
  }
}