@import "memo";
@import "breakpoint";
@import "singularitygs";

/**
  * Start Row
  * - Returns whether or not the location is 1
**/
.start-row {
  /* First in Row */
  _test: "start-row(1)";
  _result: start-row(1);

  /* Not First in Row */
  _test: "start-row(2)";
  _result: start-row(2);
}

@include add-grid(5);
@include add-grid(7 at 700px);
@include add-grid(9 at 900px);

$layout-grid: 8;
$override: 6;

@mixin end-row() {
  /* First item without override */
  _test: "end-row(1, 1, false)";
  _result: end-row(1, 1, false);
  /* First item with override */
  _test: "end-row(1, 1, #{$override})";
  _result: end-row(1, 1, $override);
   /* Last item of current grid without override */
   $grid: find-grid(false);
  _test: "end-row(1, #{column-count($grid)}, false)";
  _result: end-row(1, column-count($grid), false);
  /* Last item of current grid with override */
  _test: "end-row(1, #{column-count($grid)}, #{$override})";
  _result: end-row(1, column-count($grid), $override);
  /* Last item of override with override */
  _test: "end-row(1, #{column-count($override)}, #{$override})";
  _result: end-row(1, column-count($override), $override);
}

@mixin end-row-test() {
  $grids: singularity-get-setting('grids');
  /* Global Grid Setup */
  _grids: "#{inspect($grids)}";
  @include end-row;
  /**
    * Layout Test
  **/
  _layout: "#{$layout-grid}";
  @include layout($layout-grid) {
    @include end-row;
  }
}

/**
  * Find Object Function
  * - Finds the appropriate item given the current media query. May include an override. Testing with Grids
**/
.end-row__symmetric {
  @include end-row-test;

  @include breakpoint(699px) {
    @include end-row-test;
  }

  @include breakpoint(700px) {
    @include end-row-test;
  }

  @include breakpoint(899px) {
    @include end-row-test;
  }

  @include breakpoint(900px) {
    @include end-row-test;
  }
}

@include reset-singularity-setting('grids');
@include reset-singularity-setting('gutters');
@include reset-singularity-setting('gutter styles');

@include add-grid(1 3 5);
@include add-grid(3 5 7 at 700px);
@include add-grid(5 7 9 at 900px);

$layout-grid: 3 2 1 7;
$override: 2 4 6 7;

.end-row__asymmetric {
  @include end-row-test;

  @include breakpoint(699px) {
    @include end-row-test;
  }

  @include breakpoint(700px) {
    @include end-row-test;
  }

  @include breakpoint(899px) {
    @include end-row-test;
  }

  @include breakpoint(900px) {
    @include end-row-test;
  }
}

@include reset-singularity-setting('grids');
@include reset-singularity-setting('gutters');
@include reset-singularity-setting('gutter styles');

@include add-grid(1 3 5);
@include add-grid(7 at 700px);
@include add-grid(5 7 9 at 900px);

$layout-grid: 8;
$override: 2 4 6 7;

.end-row__asymmetric {
  @include end-row-test;

  @include breakpoint(699px) {
    @include end-row-test;
  }

  @include breakpoint(700px) {
    @include end-row-test;
  }

  @include breakpoint(899px) {
    @include end-row-test;
  }

  @include breakpoint(900px) {
    @include end-row-test;
  }
}