@import "breakpoint";
@import "singularitygs";

@mixin parse-results($definition) {
  $result: parse-add($definition);
  _test: "parse-add($definition)";
  _result: $result;
  _result-type: type-of($result);
  _result-length: length($result);
  @for $i from 1 through length($result) {
    _result-#{$i}: nth($result, $i);
  }
}

/**
  * Parse Add Function
  * - Returns a list of item and media query
**/
.parse-add {
  /* Single Item Definition Setup */
  $definition: .25 at 300px;
  _definition: ".25 at 300px";
  /* Parse Item and media Query */
  @include parse-results($definition);
  /* Multiple Item Definition Setup */
  $definition: 1 3 5 at 300px;
  _definition: "1 3 5 at 300px";
  /* Parse Item and media Query */
  @include parse-results($definition);
}