.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
  * Clearfix Mixin
  * - Writes a [modern clearfix](http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php). Should only be imported if no other clearfix mixin is used
**/
.clearfix {
  /* Clearfix mixin, no extend */
  _test: "@include clearfix(false);";
  /* Clearfix mixin, extend */
  _test: "@include clearfix(true);";
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
