/**
  * Background Grid Mixin
  * - Finds the correct columns and gutters to use for Background Build mixin. If multiple grids are defined in $grids, will create a responsive background image
**/
.background-grid__default {
  /* Global Grid Context */
  _grids: "(-1px: 5, 700px: 1 3 5 7, 900px: 9)";
  _gutters: "(-1px: 0.25, 500px: 0.5, 900px: 0.75)";
  _gutter-styles: '(-1px: "opposite", 600px: split, 800px: fixed)';
  background-image: linear-gradient(to right, chocolate 0%, chocolate 16.66667%, #dd8e56 16.66667%, #dd8e56 20.83333%, chocolate 20.83333%, chocolate 37.5%, #dd8e56 37.5%, #dd8e56 41.66667%, chocolate 41.66667%, chocolate 58.33333%, #dd8e56 58.33333%, #dd8e56 62.5%, chocolate 62.5%, chocolate 79.16667%, #dd8e56 79.16667%, #dd8e56 83.33333%, chocolate 83.33333%, chocolate);
}
@media (min-width: 500px) {
  .background-grid__default {
    background-image: linear-gradient(to right, chocolate 0%, chocolate 14.28571%, #dd8e56 14.28571%, #dd8e56 21.42857%, chocolate 21.42857%, chocolate 35.71429%, #dd8e56 35.71429%, #dd8e56 42.85714%, chocolate 42.85714%, chocolate 57.14286%, #dd8e56 57.14286%, #dd8e56 64.28571%, chocolate 64.28571%, chocolate 78.57143%, #dd8e56 78.57143%, #dd8e56 85.71429%, chocolate 85.71429%, chocolate);
  }
}
@media (min-width: 600px) {
  .background-grid__default {
    background-image: linear-gradient(to right, #dd8e56, #dd8e56 3.33333%, chocolate 3.33333%, chocolate 16.66667%, #dd8e56 16.66667%, #dd8e56 23.33333%, chocolate 23.33333%, chocolate 36.66667%, #dd8e56 36.66667%, #dd8e56 43.33333%, chocolate 43.33333%, chocolate 56.66667%, #dd8e56 56.66667%, #dd8e56 63.33333%, chocolate 63.33333%, chocolate 76.66667%, #dd8e56 76.66667%, #dd8e56 83.33333%, chocolate 83.33333%, chocolate 96.66667%, #dd8e56 96.66667%, #dd8e56 100%);
  }
}
@media (min-width: 700px) {
  .background-grid__default {
    background-image: linear-gradient(to right, #dd8e56, #dd8e56 1.38889%, chocolate 1.38889%, chocolate 6.94444%, #dd8e56 6.94444%, #dd8e56 9.72222%, chocolate 9.72222%, chocolate 26.38889%, #dd8e56 26.38889%, #dd8e56 29.16667%, chocolate 29.16667%, chocolate 56.94444%, #dd8e56 56.94444%, #dd8e56 59.72222%, chocolate 59.72222%, chocolate 98.61111%, #dd8e56 98.61111%, #dd8e56 100%);
  }
}
@media (min-width: 800px) {
  .background-grid__default {
    background-image: linear-gradient(to right, chocolate 0%, chocolate 6.25%, #dd8e56 6.25%, #dd8e56 6.75%, #b25919 6.75%, #b25919 25.5%, #dd8e56 25.5%, #dd8e56 26%, chocolate 26%, chocolate 57.25%, #dd8e56 57.25%, #dd8e56 57.75%, #b25919 57.75%, #b25919);
  }
}
@media (min-width: 900px) {
  .background-grid__default {
    background-image: linear-gradient(to right, chocolate 0%, chocolate 11.11111%, #dd8e56 11.11111%, #dd8e56 11.86111%, #b25919 11.86111%, #b25919 22.97222%, #dd8e56 22.97222%, #dd8e56 23.72222%, chocolate 23.72222%, chocolate 34.83333%, #dd8e56 34.83333%, #dd8e56 35.58333%, #b25919 35.58333%, #b25919 46.69444%, #dd8e56 46.69444%, #dd8e56 47.44444%, chocolate 47.44444%, chocolate 58.55556%, #dd8e56 58.55556%, #dd8e56 59.30556%, #b25919 59.30556%, #b25919 70.41667%, #dd8e56 70.41667%, #dd8e56 71.16667%, chocolate 71.16667%, chocolate 82.27778%, #dd8e56 82.27778%, #dd8e56 83.02778%, #b25919 83.02778%, #b25919 94.13889%, #dd8e56 94.13889%, #dd8e56 94.88889%, chocolate 94.88889%, chocolate);
  }
}
