.clearfix__legacy_IE6, .clearfix__legacy_IE7, .clearfix__legacy_ie6-moz, .clearfix__legacy_ie7-moz, .clearfix__legacy_ie6--ie7-moz, .clearfix__extend-legacy {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
}
.clearfix__legacy_IE6:before, .clearfix__legacy_IE7:before, .clearfix__legacy_ie6-moz:before, .clearfix__legacy_ie7-moz:before, .clearfix__legacy_ie6--ie7-moz:before, .clearfix__extend-legacy:before, .clearfix__legacy_IE6:after, .clearfix__legacy_IE7:after, .clearfix__legacy_ie6-moz:after, .clearfix__legacy_ie7-moz:after, .clearfix__legacy_ie6--ie7-moz:after, .clearfix__extend-legacy:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix__legacy_IE6:after, .clearfix__legacy_IE7:after, .clearfix__legacy_ie6-moz:after, .clearfix__legacy_ie7-moz:after, .clearfix__legacy_ie6--ie7-moz:after, .clearfix__extend-legacy:after {
  clear: both;
}

.clearfix__legacy_ie6-ie7, .clearfix__extend-micro {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
}
.clearfix__legacy_ie6-ie7:before, .clearfix__extend-micro:before, .clearfix__legacy_ie6-ie7:after, .clearfix__extend-micro:after {
  content: "";
  display: table;
}
.clearfix__legacy_ie6-ie7:after, .clearfix__extend-micro:after {
  clear: both;
}

.clearfix__default:after, .clearfix__legacy_moz:after, .clearfix__extend:after {
  content: "";
  display: table;
  clear: both;
}

/**
  * Clearfix Mixin
  * - Determines clearfix needed based on level of legacy support needed
**/
.clearfix__default {
  /* Clearfix mixin, no extend */
  _test: "@include clearfix(false);";
  /* Clearfix mixin, extend */
  _test: "@include clearfix(true);";
}
.clearfix__default:after {
  content: "";
  display: table;
  clear: both;
}

.clearfix__legacy_IE6 {
  /* Clearfix mixin, no extend */
  _test: "@include clearfix(false);";
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  /* Clearfix mixin, extend */
  _test: "@include clearfix(true);";
}
.clearfix__legacy_IE6:before, .clearfix__legacy_IE6:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix__legacy_IE6:after {
  clear: both;
}

.clearfix__legacy_IE7 {
  /* Clearfix mixin, no extend */
  _test: "@include clearfix(false);";
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  /* Clearfix mixin, extend */
  _test: "@include clearfix(true);";
}
.clearfix__legacy_IE7:before, .clearfix__legacy_IE7:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix__legacy_IE7:after {
  clear: both;
}

.clearfix__legacy_moz {
  /* Clearfix mixin, no extend */
  _test: "@include clearfix(false);";
  /* Clearfix mixin, extend */
  _test: "@include clearfix(true);";
}
.clearfix__legacy_moz:after {
  content: "";
  display: table;
  clear: both;
}

.clearfix__legacy_ie6-moz {
  /* Clearfix mixin, no extend */
  _test: "@include clearfix(false);";
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  /* Clearfix mixin, extend */
  _test: "@include clearfix(true);";
}
.clearfix__legacy_ie6-moz:before, .clearfix__legacy_ie6-moz:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix__legacy_ie6-moz:after {
  clear: both;
}

.clearfix__legacy_ie7-moz {
  /* Clearfix mixin, no extend */
  _test: "@include clearfix(false);";
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  /* Clearfix mixin, extend */
  _test: "@include clearfix(true);";
}
.clearfix__legacy_ie7-moz:before, .clearfix__legacy_ie7-moz:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix__legacy_ie7-moz:after {
  clear: both;
}

.clearfix__legacy_ie6-ie7 {
  /* Clearfix mixin, no extend */
  _test: "@include clearfix(false);";
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  /* Clearfix mixin, extend */
  _test: "@include clearfix(true);";
}
.clearfix__legacy_ie6-ie7:before, .clearfix__legacy_ie6-ie7:after {
  content: "";
  display: table;
}
.clearfix__legacy_ie6-ie7:after {
  clear: both;
}

.clearfix__legacy_ie6--ie7-moz {
  /* Clearfix mixin, no extend */
  _test: "@include clearfix(false);";
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  /* Clearfix mixin, extend */
  _test: "@include clearfix(true);";
}
.clearfix__legacy_ie6--ie7-moz:before, .clearfix__legacy_ie6--ie7-moz:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix__legacy_ie6--ie7-moz:after {
  clear: both;
}

.clearfix__extend-legacy {
  /* Clearfix extend */
  _test: "@extend %clearfix-legacy;";
}

.clearfix__extend-micro {
  /* Clearfix extend */
  _test: "@extend %clearfix-micro;";
}

.clearfix__extend {
  /* Clearfix extend */
  _test: "@extend %clearfix;";
}
