$columns: false !default

// calculate the total sum of a list (context)
@function list-sum($list)
  // zero out the initial sum
  $sum: 0
  // loop through each value in the list adding it to $list-sum
  @for $i from 1 through length($list)
    $sum: $sum + nth($list, $i)
  @return $sum


// calculate the width of individual columns
@function list-column-width($location, $columns)
  // send a warning if this is used when $columns is not a list
  @if type-of($columns) != list
    @warn "The column-list-sum function requires the variable $columns to be a list."
  @else
    // divide the column from its context
    @return nth($columns, $location) / list-sum($columns)


// Calculate the width spanning multiple columns
@function span($span, $location: 1, $columns: $columns)
  // zero out initial sum
  $sum: 0
  // from start point to end point
  @for $i from $location to ($location + $span)
    $sum: $sum + list-column-width($i, $columns)
  @return percentage($sum)



// TEST

$columns: 1, 2, 4, 8, 16, 32
@debug span(3, 4)