// COLORS
$affirm: #4CDB18 !default
$notify: #FFD900 !default
$warn: #00C2ED !default
$error: #ED3300 !default

// FONTS
$text: serif !default
$hed: sans-serif !default
$subhed: $hed !default

$text-indent: 1.5em !default

@import styleguide/breadcrumbs
@import styleguide/buttons
@import styleguide/forms
@import styleguide/links
@import styleguide/pagination
@import styleguide/table
@import styleguide/typography