// space seperated list
@function compound($grids) {

  // Find the base resolution of grid
  $resolution: 1;
  @each $item in $grids {
    $resolution: $resolution * $item;
  }

  $compound-grid: ();
  $compound-counter: 1;
  // cycle through each step in grid resolution
  @for $i from 1 through $resolution {

    // dont add a column by default
    $add-col: false;

    // cycle through all grids to see if any grids match
    @for $n from 1 through length($grids) {
      @if $i / nth($grids, $n) == round($i / nth($grids, $n)) {
        $add-col: true;
      }
    }
    @if $add-col {
      $compound-grid: join($compound-grid, $compound-counter, comma);
      $compound-counter: 1;
    }
    @else {
      $compound-counter: $compound-counter + 1;
    }
  }
  @return $compound-grid;
}

@debug compound(2 3)
