<% project_name = File.basename(Compass.configuration.project_path) %><% project_js = Compass.configuration.javascripts_dir %><% project_css = Compass.configuration.css_dir %>
<html>
  <head>
    <title>Singularity HTML Demo</title>
    <link rel="stylesheet" href="<%= project_css %>/demo-isolation.css">
  </head>
  <body>
    <div id="page">
      <div id="foo"></div>
      <div id="bar"></div>
      <div id="baz"></div>
      <div id="qux"></div>
      <div id="waldo"></div>
      <div id="garfield"></div>
    </div>

  </body>
</html>