@import "breakpoint";
@import "singularitygs";

/**
  * Column Count Function
  * - Returns the number of columns in the column definition
**/
.column-count {
  /* Simple */
  _test: "column-count(5)";
  _result: column-count(5);

  /* Complex */
  _test: "column-count(1 3 5)";
  _result: column-count(1 3 5);
}

/**
  * Column Sum Function
  * - Returns the sum of all columns and gutters
**/

.column-sum__opposite-gutters {
  /* Simple */
  _test: "column-sum(5, .25, 'opposite')";
  _result: column-sum(5, .25, 'opposite');

  /* Complex */
  _test: "column-sum(1 3 5, .25, 'opposite')";
  _result: column-sum(1 3 5, .25, 'opposite');
}

.column-sum__split-gutters {
  /* Simple */
  _test: "column-sum(5, .25, 'split')";
  _result: column-sum(5, .25, 'split');

  /* Complex */
  _test: "column-sum(1 3 5, .25, 'split')";
  _result: column-sum(1 3 5, .25, 'split');
}

/**
  * Column Span Function
  * - Returns the width, in percentage, of the given span and location
**/

//////////////////////////////
// Column Span Testing Mixin
//////////////////////////////
@mixin column-span-test($grid) {
  /* Single Column Span */
  _test: "column-span(1, 1)";
  _result: column-span(1, 1);
  /* Multiple Column Span */
  _test: "column-span(2, 1)";
  _result: column-span(2, 1);
  /* Grid Override, Single Column Span */
  _test: "column-span(1, 1, #{$grid})";
  _result: column-span(1, 1, $grid);
  /* Grid Override, Multi Column Span */
  _test: "column-span(2, 1, #{$grid})";
  _result: column-span(2, 1, $grid);
  /* Gutter Override, Single Column Span */
  _test: "column-span(1, 1, $gutter: .5)";
  _result: column-span(1, 1, $gutter: .5);
  /* Gutter Override, Multi Column Span */
  _test: "column-span(2, 1, $gutter: .5)";
  _result: column-span(2, 1, $gutter: .5);
  /* Gutter Style Override, Single Column Span */
  _test: "column-span(1, 1, $gutter-style: 'split')";
  _result: column-span(1, 1, $gutter-style: 'split');
  /* Gutter Style Override, Multi Column Span */
  _test: "column-span(2, 1, $gutter-style: 'split')";
  _result: column-span(2, 1, $gutter-style: 'split');
  /* Grid and Gutter Override, Single Column Span */
  _test: "column-span(1, 1, #{$grid}, .5)";
  _result: column-span(1, 1, $grid, .5);
  /* Grid and Gutter Override, Multi Column Span */
  _test: "column-span(2, 1, #{$grid}, .5)";
  _result: column-span(2, 1, $grid, .5);
  /* Grid and Gutter Style Override, Single Column Span */
  _test: "column-span(1, 1, #{$grid}, $gutter-style: 'split')";
  _result: column-span(1, 1, $grid, $gutter-style: 'split');
  /* Grid and Gutter Style Override, Multi Column Span */
  _test: "column-span(2, 1, #{$grid}, $gutter-style: 'split')";
  _result: column-span(2, 1, $grid, $gutter-style: 'split');
  /* Gutter and Gutter Style Override, Single Column Span */
  _test: "column-span(1, 1, $gutter: .5, $gutter-style: 'split')";
  _result: column-span(1, 1, $gutter: .5, $gutter-style: 'split');
  /* Gutter and Gutter Style Override, Multi Column Span */
  _test: "column-span(2, 1, $gutter: .5, $gutter-style: 'split')";
  _result: column-span(2, 1, $gutter: .5, $gutter-style: 'split');
  /* Full Override, Single Column Span */
  _test: "column-span(1, 1, #{$grid}, .5, 'split')";
  _result: column-span(1, 1, $grid, .5, 'split');
  /* Full Override, Multi Column Span */
  _test: "column-span(2, 1, #{$grid}, .5, 'split')";
  _result: column-span(2, 1, $grid, .5, 'split');
}

@mixin adaptive-column-span-test($layout-grid, $grid) {
  @include column-span-test($grid);
  /**
    * Layout Tests
  **/
  _layout: "#{$layout-grid}";
  @include layout($layout-grid) {
    @include column-span-test($grid);
  }
  _layout: "$gutter: .75";
  @include layout($gutter: .75) {
    @include column-span-test($grid);
  }
  _layout: "$gutter-style: 'split'";
  @include layout($gutter-style: 'split') {
    @include column-span-test($grid);
  }
  _layout: "#{$layout-grid}, .75";
  @include layout($layout-grid, .75) {
    @include column-span-test($grid);
  }
  _layout: ".75, $gutter-style: 'split'";
  @include layout(.75, $gutter-style: 'split') {
    @include column-span-test($grid);
  }
  _layout: "#{$layout-grid}, .75, $gutter-style: 'split'";
  @include layout($layout-grid, .75, $gutter-style: 'split') {
    @include column-span-test($grid);
  }
}

$grids: 5;
$grids: add-grid(7 at 700px);
$grids: add-grid(9 at 900px);
$gutters: .25;
$gutters: add-gutter(.35 at 700px);
$gutters: add-gutter(.45 at 900px);
$gutter-styles: 'opposite';
$gutter-styles: add-gutter-style('split' at 700px);
$gutter-styles: add-gutter-style('opposite' at 900px);

.column-span__symmetric {
  /* Global Grid Setup */
  _grids: "5";
  _grids: "7 at 700px";
  _grids: "9 at 900px";
  _gutters: ".25";
  _gutters: ".35 at 700px";
  _gutters: ".45 at 900px";
  _gutter-styles: 'opposite';
  _gutter-styles: 'split at 700px';
  _gutter-styles: 'opposite at 900px';

  @include adaptive-column-span-test(8, 6);

  @include breakpoint(699px) {
    /* Global Grid Setup */
    _grids: "5";
    _grids: "7 at 700px";
    _grids: "9 at 900px";
    _gutters: ".25";
    _gutters: ".35 at 700px";
    _gutters: ".45 at 900px";
    _gutter-styles: 'opposite';
    _gutter-styles: 'split at 700px';
    _gutter-styles: 'opposite at 900px';

    @include adaptive-column-span-test(8, 6);
  }
  @include breakpoint(700px) {
    /* Global Grid Setup */
    _grids: "5";
    _grids: "7 at 700px";
    _grids: "9 at 900px";
    _gutters: ".25";
    _gutters: ".35 at 700px";
    _gutters: ".45 at 900px";
    _gutter-styles: 'opposite';
    _gutter-styles: 'split at 700px';
    _gutter-styles: 'opposite at 900px';

    @include adaptive-column-span-test(8, 6);
  }
  @include breakpoint(899px) {
    /* Global Grid Setup */
    _grids: "5";
    _grids: "7 at 700px";
    _grids: "9 at 900px";
    _gutters: ".25";
    _gutters: ".35 at 700px";
    _gutters: ".45 at 900px";
    _gutter-styles: 'opposite';
    _gutter-styles: 'split at 700px';
    _gutter-styles: 'opposite at 900px';

    @include adaptive-column-span-test(8, 6);
  }
  @include breakpoint(900px) {
    /* Global Grid Setup */
    _grids: "5";
    _grids: "7 at 700px";
    _grids: "9 at 900px";
    _gutters: ".25";
    _gutters: ".35 at 700px";
    _gutters: ".45 at 900px";
    _gutter-styles: 'opposite';
    _gutter-styles: 'split at 700px';
    _gutter-styles: 'opposite at 900px';

    @include adaptive-column-span-test(8, 6);
  }
}

$grids: 1 3 5;
$grids: add-grid(3 5 7 at 700px);
$grids: add-grid(5 7 9 at 900px);
$gutters: .25;
$gutters: add-gutter(.35 at 700px);
$gutters: add-gutter(.45 at 900px);
$gutter-styles: 'opposite';
$gutter-styles: add-gutter-style('split' at 700px);
$gutter-styles: add-gutter-style('opposite' at 900px);

.column-span__asymmetric {
  /* Global Grid Setup */
  _grids: "1 3 5";
  _grids: "3 5 7 at 700px";
  _grids: "5 7 9 at 900px";
  _gutters: ".25";
  _gutters: ".35 at 700px";
  _gutters: ".45 at 900px";
  _gutter-styles: 'opposite';
  _gutter-styles: 'split at 700px';
  _gutter-styles: 'opposite at 900px';

  @include adaptive-column-span-test(3 2 1, 2 4 6);
  @include breakpoint(699px) {
    /* Global Grid Setup */
    _grids: "1 3 5";
    _grids: "3 5 7 at 700px";
    _grids: "5 7 9 at 900px";
    _gutters: ".25";
    _gutters: ".35 at 700px";
    _gutters: ".45 at 900px";
    _gutter-styles: 'opposite';
    _gutter-styles: 'split at 700px';
    _gutter-styles: 'opposite at 900px';

    @include adaptive-column-span-test(3 2 1, 2 4 6);
  }
  @include breakpoint(700px) {
    /* Global Grid Setup */
    _grids: "1 3 5";
    _grids: "3 5 7 at 700px";
    _grids: "5 7 9 at 900px";
    _gutters: ".25";
    _gutters: ".35 at 700px";
    _gutters: ".45 at 900px";
    _gutter-styles: 'opposite';
    _gutter-styles: 'split at 700px';
    _gutter-styles: 'opposite at 900px';

    @include adaptive-column-span-test(3 2 1, 2 4 6);
  }
  @include breakpoint(899px) {
    /* Global Grid Setup */
    _grids: "1 3 5";
    _grids: "3 5 7 at 700px";
    _grids: "5 7 9 at 900px";
    _gutters: ".25";
    _gutters: ".35 at 700px";
    _gutters: ".45 at 900px";
    _gutter-styles: 'opposite';
    _gutter-styles: 'split at 700px';
    _gutter-styles: 'opposite at 900px';

    @include adaptive-column-span-test(3 2 1, 2 4 6);
  }
  @include breakpoint(900px) {
    /* Global Grid Setup */
    _grids: "1 3 5";
    _grids: "3 5 7 at 700px";
    _grids: "5 7 9 at 900px";
    _gutters: ".25";
    _gutters: ".35 at 700px";
    _gutters: ".45 at 900px";
    _gutter-styles: 'opposite';
    _gutter-styles: 'split at 700px';
    _gutter-styles: 'opposite at 900px';

    @include adaptive-column-span-test(3 2 1, 2 4 6);
  }
}

$grids: 1 3 5;
$grids: add-grid(7 at 700px);
$grids: add-grid(5 7 9 at 900px);
$gutters: .25;
$gutters: add-gutter(.35 at 700px);
$gutters: add-gutter(.45 at 900px);
$gutter-styles: 'opposite';
$gutter-styles: add-gutter-style('split' at 700px);
$gutter-styles: add-gutter-style('opposite' at 900px);

.column-span__mixed {
  /* Global Grid Setup */
  _grids: "1 3 5";
  _grids: "7 at 700px";
  _grids: "5 7 9 at 900px";
  _gutters: ".25";
  _gutters: ".35 at 700px";
  _gutters: ".45 at 900px";
  _gutter-styles: 'opposite';
  _gutter-styles: 'split at 700px';
  _gutter-styles: 'opposite at 900px';

  @include adaptive-column-span-test(8, 2 4 6);
  @include breakpoint(699px) {
    /* Global Grid Setup */
    _grids: "1 3 5";
    _grids: "7 at 700px";
    _grids: "5 7 9 at 900px";
    _gutters: ".25";
    _gutters: ".35 at 700px";
    _gutters: ".45 at 900px";
    _gutter-styles: 'opposite';
    _gutter-styles: 'split at 700px';
    _gutter-styles: 'opposite at 900px';

    @include adaptive-column-span-test(8, 2 4 6);
  }
  @include breakpoint(700px) {
    /* Global Grid Setup */
    _grids: "1 3 5";
    _grids: "7 at 700px";
    _grids: "5 7 9 at 900px";
    _gutters: ".25";
    _gutters: ".35 at 700px";
    _gutters: ".45 at 900px";
    _gutter-styles: 'opposite';
    _gutter-styles: 'split at 700px';
    _gutter-styles: 'opposite at 900px';

    @include adaptive-column-span-test(8, 2 4 6);
  }
  @include breakpoint(899px) {
    /* Global Grid Setup */
    _grids: "1 3 5";
    _grids: "7 at 700px";
    _grids: "5 7 9 at 900px";
    _gutters: ".25";
    _gutters: ".35 at 700px";
    _gutters: ".45 at 900px";
    _gutter-styles: 'opposite';
    _gutter-styles: 'split at 700px';
    _gutter-styles: 'opposite at 900px';

    @include adaptive-column-span-test(8, 2 4 6);
  }
  @include breakpoint(900px) {
    /* Global Grid Setup */
    _grids: "1 3 5";
    _grids: "7 at 700px";
    _grids: "5 7 9 at 900px";
    _gutters: ".25";
    _gutters: ".35 at 700px";
    _gutters: ".45 at 900px";
    _gutter-styles: 'opposite';
    _gutter-styles: 'split at 700px';
    _gutter-styles: 'opposite at 900px';

    @include adaptive-column-span-test(8, 2 4 6);
  }
}