@mixin grid-clear($dir) {
  @if $dir == 'left' {
    clear: right;
  }
  @else if $dir == 'right' {
    clear: left;
  }
  @else if $dir == 'both' {
    clear: both;
  }

  @include clearfix;
}



@mixin structure-common($columns: $columns, $gutter: $gutter, $padding: $padding, $grouped-styles: false) {
  @include box-sizing(border-box);
  *behavior: url("../behaviors/box-sizing/boxsizing.php");
  overflow: hidden;
  *zoom: 1;

  @if $grouped-styles and $padding != 0 {
    padding-left: $padding;
    padding-right: $padding;
  }

  @if $dir == ltr or $dir == both {
    @if $grid-location == 'middle' {
      @if $grouped-styles {
        margin-right: -100%;
        float: left;
        @include grid-clear('left');
      }
      margin-left: grid-span($location - 1, 1, $columns, $gutter) + gutter-span($gutter, $columns);
    }
    @else if $grid-location == 'first' {
      @if $grouped-styles {
        margin-right: -100%;
        float: left;
        @include grid-clear('left');
      }
      margin-left: 0;
    }
    @else if $grid-location == 'last' {
      float: right;
      margin-right: 0;
      @include grid-clear('left');
    }
  }
  @if $dir == rtl {
    @if $grid-location == 'middle' {
      @if $grouped-styles {
        margin-left: -100%;
        float: right;
        @include grid-clear('right');
      }
      margin-right: grid-span($location - 1, 1, $columns, $gutter) + gutter-span($gutter, $columns);
    }
    @else if grid-location == 'first' {
      @if $grouped-styles {
        margin-left: -100%;
        float: right;
        @include grid-clear('right');
      }
      margin-right: 0;
    }
    @else if $grid-location == 'last' {
      float: left;
      margin-left: 0;
      @include grid-clear('right');
    }
  }
  @if $dir == both {
    #{$rtl-selector} & {
      @if $grid-location == 'middle' {
        @if $grouped-styles {
          margin-left: -100%;
          float: right;
          @include grid-clear('right');
        }
        margin-right: grid-span($location - 1, 1, $columns, $gutter) + gutter-span($gutter, $columns);
      }
      @if $grid-location == 'first' {
        @if $grouped-styles {
          margin-left: -100%;
          float: right;
          @include grid-clear('right');
        }
        margin-right: 0;
      }
      @if $grid-location == 'last' {
        float: left;
        margin-left: 0;
        @include grid-clear('right');
      }
    }
  }
}



@mixin structure-section($span, $location: $grid-counter, $columns: $columns, $gutter: $gutter, $padding: $padding, $grouped-styles: false) {
  width: grid-span($span, $location, $columns, $gutter);
  // add special left padding

  // Padding
  @if type-of($columns) == list {
    @if type-of(nth($columns, $location)) == list {
      padding-left: nth(nth($columns, $location), 2);
    }
    @else if $padding != 0 {
      padding-left: $padding;
    }
    // add special right padding
    @if type-of(nth($columns, $location + $span - 1)) == list {
      padding-right: nth(nth($columns, $location + $span - 1), 2);
    }
    @else if $padding != 0 {
      padding-right: $padding;
    }
  }
}