@mixin grid-clear($dir) {
  @if $dir == 'left' {
    clear: right;
  }
  @else if $dir == 'right' {
    clear: left;
  }
  @else if $dir == 'both' {
    clear: both;
  }

  @include clearfix;
}

@mixin structure-common($columns: $columns, $gutter: $gutter, $grouped-styles: false) {
  @include box-sizing(border-box);
  *behavior: url("../behaviors/box-sizing/boxsizing.php");
  overflow: hidden;
  *zoom: 1;
  @if $dir == ltr or $dir == both {
    @if $grid-location == 'middle' {
      @if $grouped-styles {
        margin-right: -100%;
        float: left;
        @include grid-clear('left');
      }
      margin-left: grid-span($location - 1, 1, $columns, $gutter) + gutter-span($gutter, $columns);
    }
    @else if $grid-location == 'first' {
      @if $grouped-styles {
        margin-right: -100%;
        float: left;
        @include grid-clear('left');
      }
      margin-left: 0;
    }
    @else if $grid-location == 'last' {
      float: right;
      margin-right: 0;
      @include grid-clear('left');
    }
  }
  @if $dir == rtl {
    @if $grid-location == 'middle' {
      @if $grouped-styles {
        margin-left: -100%;
        float: right;
        @include grid-clear('right');
      }
      margin-right: grid-span($location - 1, 1, $columns, $gutter) + gutter-span($gutter, $columns);
    }
    @else if grid-location == 'first' {
      @if $grouped-styles {
        margin-left: -100%;
        float: right;
        @include grid-clear('right');
      }
      margin-right: 0;
    }
    @else if $grid-location == 'last' {
      float: left;
      margin-left: 0;
      @include grid-clear('right');
    }
  }
  @if $dir == both {
    #{$rtl-selector} & {
      @if $grid-location == 'middle' {
        @if $grouped-styles {
          margin-left: -100%;
          float: right;
          @include grid-clear('right');
        }
        margin-right: grid-span($location - 1, 1, $columns, $gutter) + gutter-span($gutter, $columns);
      }
      @if $grid-location == 'first' {
        @if $grouped-styles {
          margin-left: -100%;
          float: right;
          @include grid-clear('right');
        }
        margin-right: 0;
      }
      @if $grid-location == 'last' {
        float: left;
        margin-left: 0;
        @include grid-clear('right');
      }
    }
  }
}

@mixin structure-section($span, $location: $grid-counter, $columns: $columns, $gutter: $gutter, $grouped-styles: false) {
  width: grid-span($span, $location, $columns, $gutter);
}


@mixin structure-float($span, $location: $grid-counter, $columns: $columns, $gutter: $gutter, $grouped-styles: false) {
  
}
