@mixin isolation-clear($dir, $grid-output-block: both) {
  @if $dir == 'left' {
    clear: right;
    @if $grid-output-block == common {
      margin-right: -100%;
      float: left;
    }
  }
  @else if $dir == 'right' {
    clear: left;
    @if $grid-output-block == common {
      margin-left: -100%;
      float: right;
    }
  }
  @else if $dir == 'both' {
    clear: both;
    @if $grid-output-block == common {
      margin-right: -100%;
      float: left;
    }
  }

  @include clearfix;
}

@mixin isolation-common($columns: $columns, $gutter: $gutter, $padding: $padding, $grid-output-block: common) {
  @include box-sizing(border-box);
  *behavior: url("../behaviors/box-sizing/boxsizing.php");
  overflow: hidden;

  @if $grid-output-block == common and $padding != 0 {
    padding-left: $padding;
    padding-right: $padding;
  }
  @if $grid-output-block == both == false and $padding != 0 {

  }


  @if $dir == ltr or $dir == both {
    @if $grid-output-block == common {
      margin-right: -100%;
      float: left;
      @include isolation-clear('left');
    }
  }
  @if $dir == rtl {
    @if $grid-output-block == common {
      margin-left: -100%;
      float: right;
      @include isolation-clear('right');
    }
  }
  @if $dir == both {
    #{$rtl-selector} & {
      @if $grid-output-block == common {
        margin-left: -100%;
        float: right;
        @include isolation-clear('right');
      }
    }
  }

}



@mixin isolation-section($span, $location: $grid-counter, $columns: $columns, $gutter: $gutter, $padding: $padding, $grid-output-block: section) {
  width: grid-span($span, $location, $columns, $gutter);
  // add special left padding

  @include grid-location($span, $location, $columns);

  @if $dir == ltr or $dir == both {
    @if $grid-location == 'first' or $grid-location == 'middle' {
      @if $grid-output-block == both {
        margin-right: -100%;
        float: left;
        @include isolation-clear('left');
      }
    }
    @else if $grid-location == 'last' {
      float: right;
      margin-right: 0;
      @include isolation-clear('left');
    }
  }
  @if $dir == rtl {
    @if grid-location == 'first' or $grid-location == 'middle' {
      @if $grid-output-block == both {
        margin-left: -100%;
        float: right;
        @include isolation-clear('right');
      }
    }
    @else if $grid-location == 'last' {
      float: left;
      margin-left: 0;
      @include isolation-clear('right');
    }
  }
  @if $dir == both {
    #{$rtl-selector} & {
      @if $grid-location == 'middle' {
        @if $grid-output-block == both {
          margin-left: -100%;
          float: right;
          @include isolation-clear('right');
        }
      }
      @if $grid-location == 'first' {
        @if $grid-output-block == both {
          margin-left: -100%;
          float: right;
          @include isolation-clear('right');
        }
        margin-right: 0;
      }
      @if $grid-location == 'last' {
        float: left;
        margin-left: 0;
        @include isolation-clear('right');
      }
    }
  }
  
  @include push($location - 1, 1, $columns, $gutter);

  // Padding
  @if type-of($columns) == list {
    @if type-of(nth($columns, $location)) == list {
      padding-left: nth(nth($columns, $location), 2);
    }
    @else if $padding != 0 {
      padding-left: $padding;
    }
    // add special right padding
    @if type-of(nth($columns, $location + $span - 1)) == list {
      padding-right: nth(nth($columns, $location + $span - 1), 2);
    }
    @else if $padding != 0 {
      padding-right: $padding;
    }
  }
}

// main structure mixin
@mixin isolation-structure($span, $location, $columns, $gutter, $padding, $grid-output-block: both) {

  // Full output
  @if $grid-output-block == both {
    @include isolation-common($columns, $gutter, $padding, $grid-output-block);
    @include isolation-section($span, $location, $columns, $gutter, $padding, $grid-output-block);
  }

  // Only the shared components
  @if $grid-output-block == common {
    @include isolation-common($columns, $gutter, $padding, $grid-output-block);
  }

  // Only the section components
  @if $grid-output-block == section {
    @include isolation-section($span, $location, $columns, $gutter, $padding, $grid-output-block);
  }
}