@mixin grid-clear($dir) {
  @if $dir == 'left' {
    clear: right;
  }
  @else if $dir == 'right' {
    clear: left;
  }
  @else if $dir == 'both' {
    clear: both;
  }

  @include clearfix;

}

@mixin structure-float($span, $location: $grid-counter, $columns: $columns, $gutter: $gutter, $grouped-styles: false) {
  
  $grid-location: '';
  
  @if ($span + $location) > column-count($columns) {
    $grid-location: 'last';
  }
  @else if $location == 1 {
    $grid-location: 'first';
  }
  @else if $location == column-count($columns) {
    $grid-location: 'last';
  }
  @else {
    $grid-location: 'middle';
  }
  
  @if $dir == ltr or $dir == both {
    @if $grid-location == 'middle' {
      @if $grouped-styles == false {
        margin-right: -100%;
        float: left;
        @include grid-clear('left');
      }
      margin-left: grid-span($location - 1, 1, $columns, $gutter) + $gutter;
    }
    @else if $grid-location == 'first' {
      @if $grouped-styles == false {
        margin-right: -100%;
        float: left;
        @include grid-clear('left');
      }
      margin-left: 0;
    }
    @else if $grid-location == 'last' {
      float: right;
      margin-right: 0;
      @include clearfix;
    }
  }
  @if $dir == rtl {
    @if $grid-location == 'middle' {
      @if $grouped-styles == false {
        margin-left: -100%;
        float: right;
        @include grid-clear('right');
      }
      margin-right: grid-span($location - 1, 1, $columns, $gutter) + $gutter;
    }
    @else if grid-location == 'first' {
      @if $grouped-styles == false {
        margin-left: -100%;
        float: right;
        @include grid-clear('right');
      }
      margin-right: 0;
    }
    @else if $grid-location == 'last' {
      float: left;
      margin-left: 0;
      @include grid-clear('left');
    }
  }
  @if $dir == both {
    #{$rtl-selector} & {
      @if $grid-location == 'middle' {
        @if $grouped-styles == false {
          margin-left: -100%;
          float: right;
          @include grid-clear('right');
        }
        margin-right: grid-span($location - 1, 1, $columns, $gutter) + $gutter;
      }
      @if $grid-location == 'first' {
        @if $grouped-styles == false {
          margin-left: -100%;
          float: right;
          @include grid-clear('right');
        }
        margin-right: 0;
      }
      @if $grid-location == 'last' {
        float: left;
        margin-left: 0;
        @include grid-clear('left');
      }
    }
  }
}
