//////////////////////////////
// Base Font Size in HTML tag
// NOT DONE YET!
//////////////////////////////
@mixin base-font-sizing($bfs: $base-font-size) {
  $bfs-length: length($base-font-size);
  $query: 'min-width';
  @if $grids-mobile-first == false {
    $query: 'max-width';
  }

  html {
    font-size: nth($bfs, 1);

    @if $bfs-length > 1 {
      @for $i from 2 through $bfs-length {
        @include breakpoint((nth(nth($bfs, $i), 2) $query)) {
          font-size: nth(nth($bfs, $i), 1);
        }
      }
    }
  }
}

////////////////////////////////
//// Find Base Font Size
////////////////////////////////
@function bfs-finder($query) {
  $context: breakpoint-get-context($query);
  $reverse: reverse($base-font-size);

  @if $grids-mobile-first == false {
    $query: 'max-width';
  }

  @if $query == "min-width" and $context != false {
    @each $size in $reverse {
      @if length($size) == 2 {
        @if nth($size, 2) < $context {
          @return nth($size, 1);
        }
      }
      @else {
        @return nth($base-font-size, 1);
      }
    }
  }
  @else if $query == "max-width" and $context != false {
    @each $size in $reverse {
      @if length($size) == 2 {
        @if nth($size, 2) > $context {
          @return nth($size, 1);
        }
      }
      @else {
        @return nth($base-font-size, 1);
      }
    }
  }
  @else {
    @return nth($base-font-size, 1);
  }
}