@mixin container($max-width: $container, $bfs: $base-font-size) {
  $bfs-length: length($bfs);
  $bfs-counter: 1;

  @if length($containers) != 0 {
    $query: 'min-width';
    @if $grids-mobile-first == false {
      $query: 'max-width';
    }

    $total: length($containers);

    @if $total > 1 {
      @for $i from 2 through $total {

        @include breakpoint((nth(nth($containers, $i), 2) $query)) {
          $bfs-holder: bfs-finder($query);
          @if unit(nth(nth($containers, $i), 1)) != '%' and $container-to-ems == true {
            max-width: base-conversion(nth(nth($containers, $i), 1)) / base-conversion($bfs-holder) * 1em;;
          }
          @else {
            max-width: nth(nth($containers, $i), 1);
          }
        }
      }
    }
    @if unit(nth($containers, 1)) != '%' {
      max-width: breakpoint-to-base-em(nth($containers, 1), nth($bfs, 1));
    }
    @else {
      max-width: nth($containers, 1);
    }
  }
  @else {
    @if unit($max-width) != '%' and $container-to-ems == true {
      max-width: base-conversion($max-width) / base-conversion($bfs) * 1em;
    }
    @else {
      max-width: $max-width;
    }
  }

  // Border box and clearfix
  @if $set-box-sizing {
    @include box-sizing(border-box);
    *behavior: url('../behaviors/box-sizing/boxsizing.php');
  }

  @include singularity-clearfix();
}
