// This writes classes, IDs, or silent objects for you to extend or use in your HTML. They can be written to different breakpoints to extend or call into your HTML as needed.
@mixin grid-objects($prefix: a, $columns: $columns, $gutter: $gutter, $padding: $padding, $selector: "%") {
  
  $grouped-styles: true;
  
  // counter keeps track of the starting position
  $count: 0;
  %#{$prefix}column {
    @if $output == float {
      @include float-structure(1, 1, $columns, $gutter, $padding, common);
    }
    @if $output == isolation {
      @include isolation-structure(1, 1, $columns, $gutter, $padding, common);
    }
  }


  // This function now labels object prefix+span.location
  @for $i from 1 through column-count($columns) {
    @for $n from 1 through (column-count($columns) - $count) {
      #{$selector}#{$prefix}#{$n}-#{$count + 1} {

        @extend %#{$prefix}column;

        @include isolation-structure($n, $count + 1, $columns, $gutter, $padding, section);
      }
    }

    $count: $count + 1;
  }
}
