// Converted old Gridset into Grid Span.
@mixin grid-span($span, $location, $columns: false, $gutter-span: false, $padding-span: false, $output: $output) {
  
  $columns: find-grid($columns);
  $gutter-span: find-gutter($gutter-span);
  $padding-span: find-padding($padding-span);
  
  @include grid-build($span, $location, $columns, $gutter-span, $padding-span, $output);
}