// The top-level mixin to use on adding elements to a grid.

// This step folds in multiple grids and figures out what should
// be loaded and figures out what breakpoint you are at.
@mixin grid-span($span, $location, $columns: false, $gutter-span: false, $padding-span: false, $output: $output) {

  $columns: find-grid($columns);
  $gutter-span: find-gutter($gutter-span);
  $padding-span: find-padding($padding-span, $span, $location, $columns);

  @include grid-build($span, $location, $columns, $gutter-span, $padding-span, $output);
}