// Find column count
@function column-count($columns) {
  @if type-of($columns) == number {
    @return $columns;
  }
  @if type-of($columns) == list {
    @return length($columns);
  }
}

// Context of gutters
@function gutter-context($gutter, $context) {
  @return $gutter * 100% / $context;
}

// First or last column?
$grid-location: '';

@mixin grid-location($span, $location, $columns) {
  $grid-location: '';
  
  @if ($span + $location) > column-count($columns) {
    $grid-location: 'last';
  }
  @else if $location == 1 {
    $grid-location: 'first';
  }
  @else if $location == column-count($columns) {
    $grid-location: 'last';
  }
  @else {
    $grid-location: 'middle';
  }
}
