@mixin span-shared {
  $include-border-box: singularity-get-setting('include border box');
  $include-clearfix: singularity-get-setting('include clearfix');

  @if $include-border-box {
    @if mixin-exists(box-sizing) {
      @include box-sizing(border-box);
    }
    @else {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

  @if $include-clearfix {
    @if mixin-exists(clearfix) {
      @include clearfix;
    }
    @else {
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
}