.settings {
  _default-settings: '("grids": ((-1px: 12)), "gutters": ((-1px: 0.25)), "gutter styles": ((-1px: "opposite")), "output": "isolation", "direction": "ltr", "mobile first": true, "include border box": false, "include clearfix": false, "background grid color": chocolate, "asymmetric output": "isolation", "debug": false)';
  _user-settings: '("debug": true, "grids": ((-1px: 3, 500px: 5, 700px: 1 3 5)), "gutters": ((-1px: 0.25, 450px: 0.35, 650px: 0.55)), "gutter styles": ((-1px: "split", 400px: "fixed", 600px: "opposite fixed")))';
}

.background {
  background-image: linear-gradient(to right, #dd8e56, #dd8e56 3.33333%, chocolate 3.33333%, chocolate 30%, #dd8e56 30%, #dd8e56 36.66667%, chocolate 36.66667%, chocolate 63.33333%, #dd8e56 63.33333%, #dd8e56 70%, chocolate 70%, chocolate 96.66667%, #dd8e56 96.66667%, #dd8e56 100%);
}
@media (min-width: 400px) {
  .background {
    background-image: linear-gradient(to right, chocolate 0%, chocolate 33.33333%, #dd8e56 33.33333%, #dd8e56 33.58333%, #b25919 33.58333%, #b25919 66.91667%, #dd8e56 66.91667%, #dd8e56 67.16667%, chocolate 67.16667%, chocolate);
  }
}
@media (min-width: 450px) {
  .background {
    background-image: linear-gradient(to right, chocolate 0%, chocolate 33.33333%, #dd8e56 33.33333%, #dd8e56 33.68333%, #b25919 33.68333%, #b25919 67.01667%, #dd8e56 67.01667%, #dd8e56 67.36667%, chocolate 67.36667%, chocolate);
  }
}
@media (min-width: 500px) {
  .background {
    background-image: linear-gradient(to right, chocolate 0%, chocolate 20%, #dd8e56 20%, #dd8e56 20.35%, #b25919 20.35%, #b25919 40.35%, #dd8e56 40.35%, #dd8e56 40.7%, chocolate 40.7%, chocolate 60.7%, #dd8e56 60.7%, #dd8e56 61.05%, #b25919 61.05%, #b25919 81.05%, #dd8e56 81.05%, #dd8e56 81.4%, chocolate 81.4%, chocolate);
  }
}
@media (min-width: 600px) {
  .background {
    background-image: linear-gradient(to right, chocolate 0%, chocolate 15.625%, #dd8e56 15.625%, #dd8e56 21.09375%, chocolate 21.09375%, chocolate 36.71875%, #dd8e56 36.71875%, #dd8e56 42.1875%, chocolate 42.1875%, chocolate 57.8125%, #dd8e56 57.8125%, #dd8e56 63.28125%, chocolate 63.28125%, chocolate 78.90625%, #dd8e56 78.90625%, #dd8e56 84.375%, chocolate 84.375%, chocolate);
  }
}
@media (min-width: 650px) {
  .background {
    background-image: linear-gradient(to right, chocolate 0%, chocolate 13.88889%, #dd8e56 13.88889%, #dd8e56 21.52778%, chocolate 21.52778%, chocolate 35.41667%, #dd8e56 35.41667%, #dd8e56 43.05556%, chocolate 43.05556%, chocolate 56.94444%, #dd8e56 56.94444%, #dd8e56 64.58333%, chocolate 64.58333%, chocolate 78.47222%, #dd8e56 78.47222%, #dd8e56 86.11111%, chocolate 86.11111%, chocolate);
  }
}
@media (min-width: 700px) {
  .background {
    background-image: linear-gradient(to right, chocolate 0%, chocolate 9.90099%, #dd8e56 9.90099%, #dd8e56 15.34653%, chocolate 15.34653%, chocolate 45.0495%, #dd8e56 45.0495%, #dd8e56 50.49505%, chocolate 50.49505%, chocolate);
  }
}
