//////////////////////////////
// Parse add string
//
// Retrieve add and media query values from a definition
// parse-add($definition)
//  $definition : <list>
//        - A list like: .25 at 300px
//
//////////////////////////////
@function parse-add($definition) {
  $grid: ();
  $mq: false;
  $mq-find: false;

  @each $item in $definition {
    @if $item != 'at' and $mq-find != true {
      $grid: append($grid, $item, 'space');
    }
    @else if $item == 'at' {
      $mq-find: true;
    }
    @else {
      $mq: $item;
    }
  }

  @return ($grid $mq);
}