//@import "memo";
@import "breakpoint";
@import "singularitygs";


@include add-grid(5);
@include add-grid(1 3 5 7 at 700px);
@include add-grid(9 at 900px);
@include add-gutter(.25);
@include add-gutter(.5 at 500px);
@include add-gutter(.75 at 900px);
@include add-gutter-style(split at 600px);
@include add-gutter-style(fixed at 800px);

/**
  * Background Grid Mixin
  * - Finds the correct columns and gutters to use for Background Build mixin. If multiple grids are defined in $grids, will create a responsive background image
**/
.background-grid__default {
  $grids: sgs-get('grids');
  $gutters: sgs-get('gutters');
  $gutter-styles: sgs-get('gutter styles');
  /* Global Grid Context */
  _grids: "#{inspect($grids)}";
  _gutters: "#{inspect($gutters)}";
  _gutter-styles: "#{inspect($gutter-styles)}";

  @include background-grid();
}