@import "breakpoint";
@import "singularitygs";

/**
  * Add Gutter Function
  * - Parses gutter definition and appends it to a list of gutters and returns the resulting list.
**/
.add-gutter {
  /* Add gutter, no existing gutter */
  $gutters: add-gutter(.25) !global;
  _test: "add-gutter(.25)";
  _result: $gutters;
  /* Add gutter, existing gutter */
  $gutters: add-gutter(.5 at 500px) !global;
  _test: "add-gutter(.5 at 500px)";
  _result: $gutters;
  _length: length($gutters);
  _added-item: nth($gutters, 2);
  _length-added: length(nth($gutters, 2));
  _added-item-gutter: nth(nth($gutters, 2), 1);
  _added-item-query: nth(nth($gutters, 2), 2);
  /* Add gutter to empty alternative variable */
  $gutters2: ();
  $gutters2: add-gutter(.7, $gutters2);
  _test: "add-gutter(7, $gutters2)";
  _result: $gutters2;
  _control: $gutters;
}