@import "breakpoint";
@import "singularitygs";

/**
  * List Sum Function
  * - Returns the sum of all items in a list
**/
.list-sum {
  /* Simple List Setup */
  $list: 5;
  _list: "#{$list}";
  /* Simple Sum List */
  _test: "list-sum($list)";
  _result: list-sum($list);
  /* Complex List Setup */
  $list: 1 3 5;
  _list: "#{$list}";
  /* Complex Sum List */
  _test: "list-sum($list)";
  _result: list-sum($list);
}

/**
  * Reverse List Function
  * - Reverses a list
**/
.list-reverse {
  /* Simple List Setup */
  $list: 5;
  _list: "#{$list}";
  /* Simple Reverse List */
  _test: "reverse($list)";
  _result: reverse($list);
  /* Complex List Setup */
  $list: 1 3 5;
  _list: "#{$list}";
  /* Complex Reverse List */
  _test: "reverse($list)";
  _result: reverse($list);
}

/**
  * Query List Function
  * - Returns the position(s) in a list of a query
**/
.query-list {
  /* List Setup */
  $list: 1 1 2 3px 2 5;
  _list: "#{$list}";
  /* Single Item Test */
  _test: "query-list($list, 5)";
  _result: query-list($list, 5);
  /* Multiple Item Test */
  _test: "query-list($list, 2)";
  _result: query-list($list, 2);
  /* Unit Test */
  _test: "query-list($list, 'px', 'unit')";
  _result: query-list($list, 'px', 'unit');
  /* Not Found Test */
  _test: "query-list($list, 7)";
  _result: query-list($list, 7);
}