//////////////////////////////
// Import Required Extensions
//////////////////////////////
@import "breakpoint";

//////////////////////////////
// Default Variables
//////////////////////////////

// The grids being used
$grids: () !default;

// The gutters of the inner columns of the grid
$gutters: () !default;

// The gutter styles
// Options: opposite/split (fixed)
$gutter-styles: () !default;

// Specifies whether or not you're building mobile-first grids. Defaults to true
$mobile-first: true !default;

// Default output style.
$output: 'isolation' !default;

// Direction for your grid. Can be ltr, rtl, or both
$direction: 'ltr' !default;

// Whether or not to include border-box or clearfix with all spans
$include-border-box:  false !default;
$include-clearfix:    false !default;

//////////////////////////////
// Import General Helpers
//////////////////////////////
@import "singularitygs/helpers";

//////////////////////////////
// Import Language Helpers
//////////////////////////////
@import "singularitygs/language";

//////////////////////////////
// Import Math
//////////////////////////////
@import "singularitygs/math";

//////////////////////////////
// Import Grid Helpers
//////////////////////////////
@import "singularitygs/grids";

//////////////////////////////
// Import Gutters Helpers
//////////////////////////////
@import "singularitygs/gutters";

//////////////////////////////
// Import Gutter Styles
//////////////////////////////
@import "singularitygs/gutter-styles";

//////////////////////////////
// Import APIs
//////////////////////////////
@import "singularitygs/api";