/*! SINGULARITY -- http://singularity.gs/ */
@import "compass";
@import "modular-scale";
@import "breakpoint";

// Singularity debug output
$singularity-debug: false !default;

// Can be a number or a list of non-uniform column widths
$columns: 12 !default;

// Must be of the same unit type of defined columns
$gutter: .25 !default;

// Grid padding can be any type of unit
$padding: 0 !default;

// Layout direction?
// options are ltr, rtl, both
$dir: ltr !default;

// Choose a selector for rtl layouts when using 'both'
$rtl-selector: '[dir="rtl"]' !default;

// Options for Multiple Grids
$grids: () !default;
$gutters: () !default;
$paddings: () !default;

$grids-mobile-first: true !default;

// Container Nonsense
$container: 100% !default;
$containers: () !default;
$container-to-ems: false !default;

// Base Font Size
$base-font-size: 1em !default;

// Structural templates for grid
$output: 'isolation' !default;


@import "singularitygs/grid-structure/isolation";
@import "singularitygs/grid-structure/float";

// Helpers return think like list sums and column counts
@import "singularitygs/helpers";

// Compound grid calculation function
@import "singularitygs/grid-plugins";

// Column math is isolated
@import "singularitygs/column";

// Gutter math is isolated
@import "singularitygs/gutter";

// Grid math combines column and gutter math
@import "singularitygs/grid";

// Mixins to write
@import "singularitygs/mixins";

// Mixins to write
@import "singularitygs/grid-test";

// Mixins to write
@import "singularitygs/background-grid";