@import "breakpoint";
@import "singularitygs";

$singularity: (
  'output style': 'float'
);

@include add-grid(10);
@include add-gutter(.2);

strong {
  display: block;
}
div {
  text-align: center;
  background: rgba(#266FBD, .2);
}

.ag1 {
  @include float-span(2);
}
.ag2 {
  @include float-span(6);
}
.ag3 {
  @include float-span(2, last);
}
.ag4 {
  @include float-span(3, $grid: 6);
}
.ag5 {
  @include float-span(3, last, $grid: 6);
}
.ag6 {
  @include float-span(2, $grid: 6);
}
.ag7 {
  @include float-span(4, last, $grid: 6);
}
.ag8 {
  @include float-span(2, $grid: 4);
}
.ag9 {
  @include float-span(2, last, $grid: 4);
}
.ag10 {
  clear: both;
}
