@import 'singularitygs';
$container: 960px;

$containers: 100%, 960px 980px, 1024px 1050px;
$grids-mobile-first: true;
//$breakpoint-to-ems: true;
//$container-to-ems: true;
//$base-font-size: 1em, 2em 500px;
$base-font-size: 1em, 2em 500px, 3em 1000px;

@include base-font-sizing;
//
#foo {
  @include container;
}