@import "singularitygs";

//list columns
$columns: 2, 4, 3;
// this is a list of variable widths


// Singularity has a built-in counter so you don’t need to define location
article:nth-child(1) {
  @include grid-span(1);
}
article:nth-child(2) {
  @include grid-span(1);
}
article:nth-child(3) {
  @include grid-span(1);
}

// When not writing in markup order, you need to include the location on the grid your element starts on.
article:nth-child(2) {
  @include grid-span(1, 2);
}
article:nth-child(3) {
  @include grid-span(1, 3);
}
article:nth-child(1) {
  @include grid-span(1, 1);
}
