@import "singularitygs";

$one-to-compound: 439px;
$compound-to-asym: 792px;
$asym-to-ratio: 1492px;

$gridset: 1, compound(3, 4) $one-to-compound, (2, 4, 3, 3, 9) $compound-to-asym, ratio(golden-ratio(), 5) $asym-to-ratio;
$paddingset: 5px, 30px, 15px;
$gutterset: 5%, 5%, 10%;

#foo {
  background: red;
  
  @include gridset-span(1, 1);
  
  @include breakpoint(470px) {
    @include gridset-span(2, 2);
  }
  
  @include breakpoint(800px) {
    @include gridset-span(2, 3);
  }
  
  @include breakpoint(1500px) {
    @include gridset-span(1, 5);
  }
  
}