@import "singularitygs";

.testgrid {
  clear: both;
  height: 200px;
}

.column {
  background-color: rgba(#00f, .25);
  height: 200px;
  width: 0;
}

// or overridden in the column list:
// note the second column has 5% padding and the third has 10px padding.
// $columns: 2, 20, 32, 6, 9;
$gutter: .3;
$grids: (1 3 1), (1 4 2 2 1) 600px;

// @include grid-objects(a, $selector: ".");

.testgrid.sass {
  @for $i from 1 through 3 {
    :nth-child(#{$i}) {
      @include grid-span(1, $i);
    }
  }
  @include breakpoint(600px) {
    @for $i from 1 through 5 {
      :nth-child(#{$i}) {
        @include grid-span(1, $i);
      }
    }
  }
}