@import "singularitygs"

$gridset: 1, (1, 3 1em, 1) 20em, compound(3, 4) 40em

$mobile-first : true !default

$context      : false !default
$gridset      : false !default
$columnset    : false !default
$gutterset    : false !default
$paddingset   : false !default

=parse-gridset($context, $gridset, $columnset, $gutterset, $paddingset)
  $padding: 20px

@function gridset-break($gridset, $breakpoint)
  $i: 1
  @while $breakpoint != nth(nth($gridset, $i), length(nth($gridset, $i)))
    $i: $i + 1
  @return $i


+breakpoint(20em 40em)
  $breakpoint: breakpoint-get-context('min-width')
  @if $mobile-first == false
    $breakpoint: breakpoint-get-context('max-width')
  @if $breakpoint != false
    @if $gridset != false
      @debug gridset-break($gridset, $breakpoint)

