@import "singularitygs";

//list columns
$columns: 2, 4, 3;
// this is a list of variable widths

/* default ltr direction */
$dir: ltr;

article:nth-child(1) {
  @include grid-span(1, 1);
}
article:nth-child(2) {
  @include grid-span(1, 2);
}
article:nth-child(3) {
  @include grid-span(1, 3);
}

/* rtl only */
$dir: rtl;

article:nth-child(1) {
  @include grid-span(1, 1);
}
article:nth-child(2) {
  @include grid-span(1, 2);
}
article:nth-child(3) {
  @include grid-span(1, 3);
}

/* both directions */
$dir: both;

article:nth-child(1) {
  @include grid-span(1, 1);
}
article:nth-child(2) {
  @include grid-span(1, 2);
}
article:nth-child(3) {
  @include grid-span(1, 3);
}
