@import 'singularitygs';

$columns: ratio(golden-ratio(), 5);
$gutter: .25;
// $padding: 1em;

body {
  margin: 0;
  padding: 0;
//  @include background-grid($columns, $gutter);
}

%holder {
  height: 50vh;
  background: green;
  
  &:before,
    &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }
}

//
.a1, .a2, .a3, .a4, .a5 {
  @extend %holder;
}

.a1 {
  @include grid-span(1);
}

.a2 {
  @include grid-span(1);
}

.a3 {
  @include grid-span(1);
}

.a4 {
  @include grid-span(1);
}

.a5 {
  @include grid-span(1);
}

//@debug $columns;
//
//@debug nth(nth($columns, 1), 1);
//@debug nth(nth($columns, 2), 1);
//@debug nth(nth($columns, 3), 1) + nth(nth($columns, 4), 1);
//@debug nth(nth($columns, 2), 1) + nth(nth($columns, 3), 1) + nth(nth($columns, 4), 1);
//
//@debug column-sum($columns, $gutter);

#nav-left {
  @extend %holder;
  @include grid-span(1);
  clear: right;
}
//
#nav-middle {
  @extend %holder;
  @include grid-span(1);
  clear: right;
}
//
#nav-right {
  @extend %holder;
  @include grid-span(2, 3);
  clear: right;
}

#content {
  @extend %holder;
  @include grid-span(3, 2);
  clear: left;
}