.thumbnail:nth-of-type(5n + 1) {
  width: 11.11111%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 11.11111%;
  clear: both;
}
.thumbnail:nth-of-type(5n + 2) {
  width: 11.11111%;
  clear: right;
  float: left;
  margin-right: 11.11111%;
}
.thumbnail:nth-of-type(5n + 3) {
  width: 11.11111%;
  clear: right;
  float: left;
  margin-right: 11.11111%;
}
.thumbnail:nth-of-type(5n + 4) {
  width: 11.11111%;
  clear: right;
  float: left;
  margin-right: 11.11111%;
}
.thumbnail:nth-of-type(5n + 5) {
  width: 11.11111%;
  clear: right;
  float: right;
  margin-right: 0;
}
