.thumbnail:nth-of-type(5n + 1) {
  width: 20%;
  clear: right;
  float: left;
  padding-right: 1em;
  clear: both;
}
.thumbnail:nth-of-type(5n + 2) {
  width: 20%;
  clear: right;
  float: left;
  padding-right: 1em;
}
.thumbnail:nth-of-type(5n + 3) {
  width: 20%;
  clear: right;
  float: left;
  padding-right: 1em;
}
.thumbnail:nth-of-type(5n + 4) {
  width: 20%;
  clear: right;
  float: left;
  padding-right: 1em;
}
.thumbnail:nth-of-type(5n + 5) {
  width: 20%;
  clear: right;
  float: right;
  padding-right: 0;
}
