.thumbnail:nth-of-type(5n + 1) {
  width: 11.11111%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
  clear: both;
}
.thumbnail:nth-of-type(5n + 2) {
  width: 11.11111%;
  float: left;
  margin-right: -100%;
  margin-left: 22.22222%;
  clear: none;
}
.thumbnail:nth-of-type(5n + 3) {
  width: 11.11111%;
  float: left;
  margin-right: -100%;
  margin-left: 44.44444%;
  clear: none;
}
.thumbnail:nth-of-type(5n + 4) {
  width: 11.11111%;
  float: left;
  margin-right: -100%;
  margin-left: 66.66667%;
  clear: none;
}
.thumbnail:nth-of-type(5n + 5) {
  width: 11.11111%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
