.thumbnail:nth-of-type(5n + 1) {
  width: 5%;
  clear: right;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  clear: both;
}
.thumbnail:nth-of-type(5n + 2) {
  width: 10%;
  clear: right;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.thumbnail:nth-of-type(5n + 3) {
  width: 15%;
  clear: right;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.thumbnail:nth-of-type(5n + 4) {
  width: 20%;
  clear: right;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.thumbnail:nth-of-type(5n + 5) {
  width: 20%;
  clear: right;
  float: right;
  margin-left: 0;
  margin-right: 2.5%;
}
