/* SINGULARITY -- http://singularity.gs/ */
/* line 9, ../sass/grid-span.scss */
article:nth-child(1) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 21.05263%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 0;
}

/* line 12, ../sass/grid-span.scss */
article:nth-child(2) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 42.10526%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 23.68421%;
}

/* line 15, ../sass/grid-span.scss */
article:nth-child(3) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 31.57895%;
  float: right;
  margin-right: 0;
  clear: right;
  overflow: hidden;
  *zoom: 1;
}

/* line 20, ../sass/grid-span.scss */
article:nth-child(2) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 42.10526%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 23.68421%;
}

/* line 23, ../sass/grid-span.scss */
article:nth-child(3) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 31.57895%;
  float: right;
  margin-right: 0;
  clear: right;
  overflow: hidden;
  *zoom: 1;
}

/* line 26, ../sass/grid-span.scss */
article:nth-child(1) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 21.05263%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 0;
}
