/* SINGULARITY -- http://singularity.gs/ */
/* line 9, ../sass/grid-span.scss */
article:nth-child(1) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20.88889%;
  margin-right: -100%;
  float: left;
  clear: right;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  margin-left: 0;
}
/* line 16, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
article:nth-child(1):before, article:nth-child(1):after {
  content: "";
  display: table;
}
/* line 21, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
article:nth-child(1):after {
  clear: both;
}

/* line 12, ../sass/grid-span.scss */
article:nth-child(2) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 43.11111%;
  margin-right: -100%;
  float: left;
  clear: right;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  margin-left: 22.88889%;
}
/* line 16, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
article:nth-child(2):before, article:nth-child(2):after {
  content: "";
  display: table;
}
/* line 21, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
article:nth-child(2):after {
  clear: both;
}

/* line 15, ../sass/grid-span.scss */
article:nth-child(3) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 32.0%;
  float: right;
  margin-right: 0;
  clear: left;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
}
/* line 16, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
article:nth-child(3):before, article:nth-child(3):after {
  content: "";
  display: table;
}
/* line 21, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
article:nth-child(3):after {
  clear: both;
}

/* line 20, ../sass/grid-span.scss */
article:nth-child(2) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 43.11111%;
  margin-right: -100%;
  float: left;
  clear: right;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  margin-left: 22.88889%;
}
/* line 16, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
article:nth-child(2):before, article:nth-child(2):after {
  content: "";
  display: table;
}
/* line 21, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
article:nth-child(2):after {
  clear: both;
}

/* line 23, ../sass/grid-span.scss */
article:nth-child(3) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 32.0%;
  float: right;
  margin-right: 0;
  clear: left;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
}
/* line 16, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
article:nth-child(3):before, article:nth-child(3):after {
  content: "";
  display: table;
}
/* line 21, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
article:nth-child(3):after {
  clear: both;
}

/* line 26, ../sass/grid-span.scss */
article:nth-child(1) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20.88889%;
  margin-right: -100%;
  float: left;
  clear: right;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  margin-left: 0;
}
/* line 16, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
article:nth-child(1):before, article:nth-child(1):after {
  content: "";
  display: table;
}
/* line 21, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
article:nth-child(1):after {
  clear: both;
}
