/* SINGULARITY -- http://singularity.gs/ */
@media (min-width: 20em) and (max-width: 40em) {
  /* line 39, ../../stylesheets/singularitygs/_mixins.sass */
  .a0-1, .a0-2, .a1-2 {
    margin-right: -100%;
    float: left;
    float: left;
    margin-right: 2%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .a0-1 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 49%;
    margin-right: -100%;
    float: left;
    margin-left: 0;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .a0-2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 99%;
    margin-right: -100%;
    float: left;
    margin-left: 0;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .a1-2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 49%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 40em) and (max-width: 60em) {
  /* line 39, ../../stylesheets/singularitygs/_mixins.sass */
  .b0-1, .b0-2, .b0-3, .b0-4, .b1-2, .b1-3, .b1-4, .b2-3, .b2-4, .b3-4 {
    margin-right: -100%;
    float: left;
    float: left;
    margin-right: 1.5%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .b0-1 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 32.20833%;
    margin-right: -100%;
    float: left;
    margin-left: 0;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .b0-2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 48.875%;
    margin-right: -100%;
    float: left;
    margin-left: 0;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .b0-3 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 65.54167%;
    margin-right: -100%;
    float: left;
    margin-left: 0;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .b0-4 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 98.875%;
    margin-right: -100%;
    float: left;
    margin-left: 0;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .b1-2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 15.54167%;
    margin-right: -100%;
    float: left;
    margin-left: 33.70833%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .b1-3 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 32.20833%;
    margin-right: -100%;
    float: left;
    margin-left: 33.70833%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .b1-4 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 65.54167%;
    margin-right: -100%;
    float: left;
    margin-left: 33.70833%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .b2-3 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 15.54167%;
    margin-right: -100%;
    float: left;
    margin-left: 50.375%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .b2-4 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 48.875%;
    margin-right: -100%;
    float: left;
    margin-left: 50.375%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .b3-4 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 32.20833%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 60em) {
  /* line 39, ../../stylesheets/singularitygs/_mixins.sass */
  .c0-1, .c0-2, .c0-3, .c0-4, .c0-5, .c0-6, .c1-2, .c1-3, .c1-4, .c1-5, .c1-6, .c2-3, .c2-4, .c2-5, .c2-6, .c3-4, .c3-5, .c3-6, .c4-5, .c4-6, .c5-6 {
    margin-right: -100%;
    float: left;
    float: left;
    margin-right: 1%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c0-1 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 24.16667%;
    margin-right: -100%;
    float: left;
    margin-left: 0;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c0-2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 32.5%;
    margin-right: -100%;
    float: left;
    margin-left: 0;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c0-3 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 49.16667%;
    margin-right: -100%;
    float: left;
    margin-left: 0;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c0-4 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 65.83333%;
    margin-right: -100%;
    float: left;
    margin-left: 0;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c0-5 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 74.16667%;
    margin-right: -100%;
    float: left;
    margin-left: 0;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c0-6 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 99.16667%;
    margin-right: -100%;
    float: left;
    margin-left: 0;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c1-2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 7.5%;
    margin-right: -100%;
    float: left;
    margin-left: 25.16667%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c1-3 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 24.16667%;
    margin-right: -100%;
    float: left;
    margin-left: 25.16667%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c1-4 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 40.83333%;
    margin-right: -100%;
    float: left;
    margin-left: 25.16667%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c1-5 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 49.16667%;
    margin-right: -100%;
    float: left;
    margin-left: 25.16667%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c1-6 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 74.16667%;
    margin-right: -100%;
    float: left;
    margin-left: 25.16667%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c2-3 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 15.83333%;
    margin-right: -100%;
    float: left;
    margin-left: 33.5%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c2-4 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 32.5%;
    margin-right: -100%;
    float: left;
    margin-left: 33.5%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c2-5 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 40.83333%;
    margin-right: -100%;
    float: left;
    margin-left: 33.5%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c2-6 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 65.83333%;
    margin-right: -100%;
    float: left;
    margin-left: 33.5%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c3-4 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 15.83333%;
    margin-right: -100%;
    float: left;
    margin-left: 50.16667%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c3-5 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 24.16667%;
    margin-right: -100%;
    float: left;
    margin-left: 50.16667%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c3-6 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 49.16667%;
    margin-right: -100%;
    float: left;
    margin-left: 50.16667%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c4-5 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 7.5%;
    margin-right: -100%;
    float: left;
    margin-left: 66.83333%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c4-6 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 32.5%;
    margin-right: -100%;
    float: left;
    margin-left: 66.83333%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  .c5-6 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 24.16667%;
    float: right;
    margin-right: 0;
  }
}
