/* SINGULARITY -- http://singularity.gs/ */
/* line 41, ../../stylesheets/singularitygs/_mixins.scss */
.a0-1, .a0-2, .a0-3, .a0-4, .a0-5, .a1-2, .a1-3, .a1-4, .a1-5, .a2-3, .a2-4, .a2-5, .a3-4, .a3-5, .a4-5 {
  margin-right: -100%;
  float: left;
  float: left;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%;
}

/* line 62, ../../stylesheets/singularitygs/_mixins.scss */
.a0-1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.69565%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 0;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 62, ../../stylesheets/singularitygs/_mixins.scss */
.a0-2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 34.78261%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 0;
  padding-left: 1em;
  padding-right: 5%;
}

/* line 62, ../../stylesheets/singularitygs/_mixins.scss */
.a0-3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 56.52174%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 0;
  padding-left: 1em;
  padding-right: 10px;
}

/* line 62, ../../stylesheets/singularitygs/_mixins.scss */
.a0-4 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 86.95652%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 0;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 62, ../../stylesheets/singularitygs/_mixins.scss */
.a0-5 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: right;
  margin-right: 0;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 62, ../../stylesheets/singularitygs/_mixins.scss */
.a1-2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 17.3913%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 17.3913%;
  padding-left: 5%;
  padding-right: 5%;
}

/* line 62, ../../stylesheets/singularitygs/_mixins.scss */
.a1-3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 39.13043%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 17.3913%;
  padding-left: 5%;
  padding-right: 10px;
}

/* line 62, ../../stylesheets/singularitygs/_mixins.scss */
.a1-4 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 69.56522%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 17.3913%;
  padding-left: 5%;
  padding-right: 1em;
}

/* line 62, ../../stylesheets/singularitygs/_mixins.scss */
.a1-5 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 82.6087%;
  float: right;
  margin-right: 0;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  padding-left: 5%;
  padding-right: 1em;
}

/* line 62, ../../stylesheets/singularitygs/_mixins.scss */
.a2-3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 13.04348%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 43.47826%;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 62, ../../stylesheets/singularitygs/_mixins.scss */
.a2-4 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 43.47826%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 43.47826%;
  padding-left: 10px;
  padding-right: 1em;
}

/* line 62, ../../stylesheets/singularitygs/_mixins.scss */
.a2-5 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 56.52174%;
  float: right;
  margin-right: 0;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  padding-left: 10px;
  padding-right: 1em;
}

/* line 62, ../../stylesheets/singularitygs/_mixins.scss */
.a3-4 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 21.73913%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 65.21739%;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 62, ../../stylesheets/singularitygs/_mixins.scss */
.a3-5 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 34.78261%;
  float: right;
  margin-right: 0;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 62, ../../stylesheets/singularitygs/_mixins.scss */
.a4-5 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 4.34783%;
  float: right;
  margin-right: 0;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  padding-left: 1em;
  padding-right: 1em;
}
