/* SINGULARITY -- http://singularity.gs/ */
@media (min-width: 20em) and (max-width: 40em) {
  /* line 39, ../../stylesheets/singularitygs/_mixins.sass */
  article, aside.one {
    margin-right: -100%;
    float: left;
    float: left;
    margin-right: 2%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  article {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 49%;
    margin-right: -100%;
    float: left;
    clear: right;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1;
    margin-left: 0;
  }
  /* line 16, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
  article:before, article:after {
    content: "";
    display: table;
  }
  /* line 21, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
  article:after {
    clear: both;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  aside.one {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 49%;
    float: right;
    margin-right: 0;
    clear: left;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1;
  }
  /* line 16, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
  aside.one:before, aside.one:after {
    content: "";
    display: table;
  }
  /* line 21, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
  aside.one:after {
    clear: both;
  }
}
@media (min-width: 40em) and (max-width: 60em) {
  /* line 39, ../../stylesheets/singularitygs/_mixins.sass */
  article, aside.one {
    margin-right: -100%;
    float: left;
    float: left;
    margin-right: 1.5%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  article {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 65.54167%;
    margin-right: -100%;
    float: left;
    clear: right;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1;
    margin-left: 0;
  }
  /* line 16, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
  article:before, article:after {
    content: "";
    display: table;
  }
  /* line 21, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
  article:after {
    clear: both;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  aside.one {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 32.20833%;
    float: right;
    margin-right: 0;
    clear: left;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1;
  }
  /* line 16, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
  aside.one:before, aside.one:after {
    content: "";
    display: table;
  }
  /* line 21, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
  aside.one:after {
    clear: both;
  }
}
@media (min-width: 60em) {
  /* line 39, ../../stylesheets/singularitygs/_mixins.sass */
  article, aside.one, aside.two {
    margin-right: -100%;
    float: left;
    float: left;
    margin-right: 1%;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  article {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 65.83333%;
    margin-right: -100%;
    float: left;
    clear: right;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1;
    margin-left: 0;
  }
  /* line 16, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
  article:before, article:after {
    content: "";
    display: table;
  }
  /* line 21, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
  article:after {
    clear: both;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  aside.one {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 7.5%;
    margin-right: -100%;
    float: left;
    clear: right;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1;
    margin-left: 66.83333%;
  }
  /* line 16, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
  aside.one:before, aside.one:after {
    content: "";
    display: table;
  }
  /* line 21, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
  aside.one:after {
    clear: both;
  }

  /* line 56, ../../stylesheets/singularitygs/_mixins.sass */
  aside.two {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 24.16667%;
    float: right;
    margin-right: 0;
    clear: left;
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1;
  }
  /* line 16, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
  aside.two:before, aside.two:after {
    content: "";
    display: table;
  }
  /* line 21, ../../stylesheets/singularitygs/grid-structure/_structure-clear.scss */
  aside.two:after {
    clear: both;
  }
}
