/* SINGULARITY -- http://singularity.gs/ */
@media (min-width: 20em) and (max-width: 40em) {
  /* line 48, ../../stylesheets/singularitygs/_mixins.sass */
  article, aside.one {
    float: left;
    margin-right: 2%;
  }

  /* line 55, ../../stylesheets/singularitygs/_mixins.sass */
  article {
    width: 49%;
  }

  /* line 55, ../../stylesheets/singularitygs/_mixins.sass */
  aside.one {
    width: 49%;
    margin-right: 0;
  }
}
@media (min-width: 40em) and (max-width: 60em) {
  /* line 48, ../../stylesheets/singularitygs/_mixins.sass */
  article, aside.one {
    float: left;
    margin-right: 1.5%;
  }

  /* line 55, ../../stylesheets/singularitygs/_mixins.sass */
  article {
    width: 65.54167%;
  }

  /* line 55, ../../stylesheets/singularitygs/_mixins.sass */
  aside.one {
    width: 32.20833%;
    margin-right: 0;
  }
}
@media (min-width: 60em) {
  /* line 48, ../../stylesheets/singularitygs/_mixins.sass */
  article, aside.one, aside.two {
    float: left;
    margin-right: 1%;
  }

  /* line 55, ../../stylesheets/singularitygs/_mixins.sass */
  article {
    width: 65.83333%;
  }

  /* line 55, ../../stylesheets/singularitygs/_mixins.sass */
  aside.one {
    width: 7.5%;
  }

  /* line 55, ../../stylesheets/singularitygs/_mixins.sass */
  aside.two {
    width: 24.16667%;
    margin-right: 0;
  }
}
