/* SINGULARITY -- http://singularity.gs/ */
/* default ltr direction */
/* line 11, ../sass/rtl.scss */
article:nth-child(1) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 21.05263%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 0;
}

/* line 14, ../sass/rtl.scss */
article:nth-child(2) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 42.10526%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 23.68421%;
}

/* line 17, ../sass/rtl.scss */
article:nth-child(3) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 31.57895%;
  float: right;
  margin-right: 0;
  clear: right;
  overflow: hidden;
  *zoom: 1;
}

/* rtl only */
/* line 25, ../sass/rtl.scss */
article:nth-child(1) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 21.05263%;
}

/* line 28, ../sass/rtl.scss */
article:nth-child(2) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 42.10526%;
  margin-left: -100%;
  float: right;
  clear: left;
  overflow: hidden;
  *zoom: 1;
  margin-right: 23.68421%;
}

/* line 31, ../sass/rtl.scss */
article:nth-child(3) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 31.57895%;
  float: left;
  margin-left: 0;
  clear: left;
  overflow: hidden;
  *zoom: 1;
}

/* both directions */
/* line 39, ../sass/rtl.scss */
article:nth-child(1) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 21.05263%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 0;
}
/* line 79, ../../stylesheets/singularitygs/grid-structure/_structure-float.scss */
[dir="rtl"] article:nth-child(1) {
  margin-left: -100%;
  float: right;
  clear: left;
  overflow: hidden;
  *zoom: 1;
  margin-right: 0;
}

/* line 42, ../sass/rtl.scss */
article:nth-child(2) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 42.10526%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 23.68421%;
}
/* line 79, ../../stylesheets/singularitygs/grid-structure/_structure-float.scss */
[dir="rtl"] article:nth-child(2) {
  margin-left: -100%;
  float: right;
  clear: left;
  overflow: hidden;
  *zoom: 1;
  margin-right: 23.68421%;
}

/* line 45, ../sass/rtl.scss */
article:nth-child(3) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 31.57895%;
  float: right;
  margin-right: 0;
  clear: right;
  overflow: hidden;
  *zoom: 1;
}
/* line 79, ../../stylesheets/singularitygs/grid-structure/_structure-float.scss */
[dir="rtl"] article:nth-child(3) {
  float: left;
  margin-left: 0;
  clear: left;
  overflow: hidden;
  *zoom: 1;
}
