/* SINGULARITY -- http://singularity.gs/ */
/* line 9, ../sass/scale.scss */
article:nth-child(1) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 22.26217%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 0;
}

/* line 12, ../sass/scale.scss */
article:nth-child(2) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 13.27341%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 24.26217%;
}

/* line 15, ../sass/scale.scss */
article:nth-child(3) {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 60.46442%;
  float: right;
  margin-right: 0;
  clear: left;
  overflow: hidden;
  *zoom: 1;
}
