/* SINGULARITY -- http://singularity.gs/ */
/* line 9, ../sass/scale.scss */
article:nth-child(1) {
  width: 22.26217%;
  float: left;
  margin-right: 2%;
}

/* line 12, ../sass/scale.scss */
article:nth-child(2) {
  width: 13.27341%;
  float: left;
  margin-right: 2%;
}

/* line 15, ../sass/scale.scss */
article:nth-child(3) {
  width: 60.46442%;
  float: right;
  margin-right: 0;
}
