/* SINGULARITY -- http://singularity.gs/ */
/* line 7, ../sass/zen-iso.scss */
body {
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(105, 174, 219, 0.5)), color-stop(4.52511%, rgba(105, 174, 219, 0.5)), color-stop(4.52511%, rgba(105, 174, 219, 0)), color-stop(6.52511%, rgba(105, 174, 219, 0)), color-stop(6.52511%, rgba(105, 174, 219, 0.5)), color-stop(14.43575%, rgba(105, 174, 219, 0.5)), color-stop(14.43575%, rgba(105, 174, 219, 0)), color-stop(16.43575%, rgba(105, 174, 219, 0)), color-stop(16.43575%, rgba(105, 174, 219, 0.5)), color-stop(30.47149%, rgba(105, 174, 219, 0.5)), color-stop(30.47149%, rgba(105, 174, 219, 0)), color-stop(32.47149%, rgba(105, 174, 219, 0)), color-stop(32.47149%, rgba(105, 174, 219, 0.5)), color-stop(56.41787%, rgba(105, 174, 219, 0.5)), color-stop(56.41787%, rgba(105, 174, 219, 0)), color-stop(58.41787%, rgba(105, 174, 219, 0)), color-stop(58.41787%, rgba(105, 174, 219, 0.5)), color-stop(100%, rgba(105, 174, 219, 0.5)));
  background: -webkit-linear-gradient(left, rgba(105, 174, 219, 0.5) 0%, rgba(105, 174, 219, 0.5) 4.52511%, rgba(105, 174, 219, 0) 4.52511%, rgba(105, 174, 219, 0) 6.52511%, rgba(105, 174, 219, 0.5) 6.52511%, rgba(105, 174, 219, 0.5) 14.43575%, rgba(105, 174, 219, 0) 14.43575%, rgba(105, 174, 219, 0) 16.43575%, rgba(105, 174, 219, 0.5) 16.43575%, rgba(105, 174, 219, 0.5) 30.47149%, rgba(105, 174, 219, 0) 30.47149%, rgba(105, 174, 219, 0) 32.47149%, rgba(105, 174, 219, 0.5) 32.47149%, rgba(105, 174, 219, 0.5) 56.41787%, rgba(105, 174, 219, 0) 56.41787%, rgba(105, 174, 219, 0) 58.41787%, rgba(105, 174, 219, 0.5) 58.41787%, rgba(105, 174, 219, 0.5) 100%);
  background: -moz-linear-gradient(left, rgba(105, 174, 219, 0.5) 0%, rgba(105, 174, 219, 0.5) 4.52511%, rgba(105, 174, 219, 0) 4.52511%, rgba(105, 174, 219, 0) 6.52511%, rgba(105, 174, 219, 0.5) 6.52511%, rgba(105, 174, 219, 0.5) 14.43575%, rgba(105, 174, 219, 0) 14.43575%, rgba(105, 174, 219, 0) 16.43575%, rgba(105, 174, 219, 0.5) 16.43575%, rgba(105, 174, 219, 0.5) 30.47149%, rgba(105, 174, 219, 0) 30.47149%, rgba(105, 174, 219, 0) 32.47149%, rgba(105, 174, 219, 0.5) 32.47149%, rgba(105, 174, 219, 0.5) 56.41787%, rgba(105, 174, 219, 0) 56.41787%, rgba(105, 174, 219, 0) 58.41787%, rgba(105, 174, 219, 0.5) 58.41787%, rgba(105, 174, 219, 0.5) 100%);
  background: -o-linear-gradient(left, rgba(105, 174, 219, 0.5) 0%, rgba(105, 174, 219, 0.5) 4.52511%, rgba(105, 174, 219, 0) 4.52511%, rgba(105, 174, 219, 0) 6.52511%, rgba(105, 174, 219, 0.5) 6.52511%, rgba(105, 174, 219, 0.5) 14.43575%, rgba(105, 174, 219, 0) 14.43575%, rgba(105, 174, 219, 0) 16.43575%, rgba(105, 174, 219, 0.5) 16.43575%, rgba(105, 174, 219, 0.5) 30.47149%, rgba(105, 174, 219, 0) 30.47149%, rgba(105, 174, 219, 0) 32.47149%, rgba(105, 174, 219, 0.5) 32.47149%, rgba(105, 174, 219, 0.5) 56.41787%, rgba(105, 174, 219, 0) 56.41787%, rgba(105, 174, 219, 0) 58.41787%, rgba(105, 174, 219, 0.5) 58.41787%, rgba(105, 174, 219, 0.5) 100%);
  background: linear-gradient(left, rgba(105, 174, 219, 0.5) 0%, rgba(105, 174, 219, 0.5) 4.52511%, rgba(105, 174, 219, 0) 4.52511%, rgba(105, 174, 219, 0) 6.52511%, rgba(105, 174, 219, 0.5) 6.52511%, rgba(105, 174, 219, 0.5) 14.43575%, rgba(105, 174, 219, 0) 14.43575%, rgba(105, 174, 219, 0) 16.43575%, rgba(105, 174, 219, 0.5) 16.43575%, rgba(105, 174, 219, 0.5) 30.47149%, rgba(105, 174, 219, 0) 30.47149%, rgba(105, 174, 219, 0) 32.47149%, rgba(105, 174, 219, 0.5) 32.47149%, rgba(105, 174, 219, 0.5) 56.41787%, rgba(105, 174, 219, 0) 56.41787%, rgba(105, 174, 219, 0) 58.41787%, rgba(105, 174, 219, 0.5) 58.41787%, rgba(105, 174, 219, 0.5) 100%);
}

/* line 13, ../sass/zen-iso.scss */
#nav-left, #nav-middle, #nav-right, #content {
  height: 50vh;
  background: green;
}
/* line 18, ../sass/zen-iso.scss */
#nav-left:before, #nav-middle:before, #nav-right:before, #content:before, #nav-left:after, #nav-middle:after, #nav-right:after, #content:after {
  content: "";
  display: table;
}
/* line 22, ../sass/zen-iso.scss */
#nav-left:after, #nav-middle:after, #nav-right:after, #content:after {
  clear: both;
}

/* line 27, ../sass/zen-iso.scss */
#nav-left {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 4.52511%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 0;
  padding-left: 1em;
  padding-right: 1em;
  clear: right;
}

/* line 33, ../sass/zen-iso.scss */
#nav-middle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.31064%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 6.52511%;
  padding-left: 1em;
  padding-right: 1em;
  clear: right;
}

/* line 39, ../sass/zen-iso.scss */
#nav-right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 24.34638%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 32.47149%;
  padding-left: 1em;
  padding-right: 1em;
  clear: right;
}

/* line 45, ../sass/zen-iso.scss */
#content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 14.43575%;
  margin-right: -100%;
  float: left;
  clear: right;
  overflow: hidden;
  *zoom: 1;
  margin-left: 16.43575%;
  padding-left: 1em;
  padding-right: 1em;
  clear: left;
}
