@mixin self-resizing-image($selector, $max-width : 0, $max-height : 0) {
  #{$selector} { 
    height:100%;
    width:auto; 
    @if $max-width != 0 {
      max-width: $max-width;
    }
    @if $max-height != 0 {
      max-height: $max-height;
    }
    display: block;
    margin: 0 auto;
  }
  #{$selector} { height:auto;width:100%; }
}