@mixin output-isolation($span, $location, $columns, $gutter, $options: false) {

  @if $options == false {
    $options: 'right';
  }

  @if $direction == 'ltr' or $direction == 'both' {
    // Set the CSS direction to ltr
    $cssdir: 'ltr';
    // Find the CSS named direction and opposite direction
    $dir: named-direction($cssdir);
    $opp: opposite-direction($dir);

    width: column-span($span, $location, $columns);
    margin-#{$dir}: column-span($location - 1, 1, $columns);
    margin-#{$opp}: -100%;
    float: $dir;
    clear: $options;
  }

  @if $direction == 'rtl' or $direction == 'both' {
    // Set the CSS direction to ltr
    $cssdir: 'rtl';
    // Find the CSS named direction and opposite direction
    $dir: named-direction($cssdir);
    $opp: opposite-direction($dir);

    [dir="#{$cssdir}"] & {
      width: column-span($span, $location, $columns);
      margin-#{$dir}: column-span($location - 1, 1, $columns) + gutter-span($gutter, $columns);
      margin-#{$opp}: -100%;
      float: $dir;
      clear: $options;
    }
  }

  @include span-shared;

}

@mixin push-isolation($span, $location, $columns: false, $gutter: false) {
  @include push-float($span, $location, $columns, $gutter);
}

@mixin pull-isolation($span, $location, $columns: false, $gutter: false) {
  @include pull-float($span, $location, $columns, $gutter);
}